{% extends 'base.html' %}
{% block content %} 
<a class="btn btn-primary" href="{% url 'bookstore_app.book_add' %}">Add book</a> 
{% for book in template_data.books %}
      <div class="col-md-4 col-lg-3 mb-2">
        <div class="p-2 card align-items-center pt-4">
          <div class="card-body text-center">
            <a href="{% url 'bookstore_app.book_detail' id=book.id %}" class="btn bg-dark text-white">
              {{ book.title }}
            </a>
            <ul>
                <li>Description: {{book.description}}</li>
                <li>Author: {{book.author.name}}</li>
            </ul>
          </div>
        </div>
      </div>
{% endfor %}
{% endblock %}