{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
<a class="btn btn-primary" href="{% url 'bookstore_app.book_add' %}">Add book</a> 
{% endif %}

<p class="card-text">
  <form method="GET">
    <div class="row">
      <div class="col-auto">
        <div class="input-group col-auto">
          <div class="input-group-text">Search</div>
          <input type="text" class="form-control" name="search">
        </div>
      </div>
      <div class="col-auto">
        <button class="btn bg-dark text-white" type="submit">Search</button>
      </div>
    </div>
  </form>
</p>
{% for book in page_obj %}
      <div class="col-md-4 col-lg-3 mb-2">
        <div class="p-2 card align-items-center pt-4">
          <div class="card-body text-center">
            <a href="{% url 'bookstore_app.book_detail' id=book.id %}" class="btn bg-dark text-white">
              {{ book.title }}
            </a>
            <ul>
                <li>Description: {{book.description}}</li>
                <li>Author: {{book.author.name}}</li>
            </ul>
          </div>
        </div>
      </div>
{% endfor %}

<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>

{% endblock %}