{% extends 'base.html' %}
{% block content %}  
    <h2>Login</h2>
    <hr />    
    <form method="POST">
    {% csrf_token %}
        <p>
            <label for="username">Username</label>
            <input id="username" type="text" name="username" required autocomplete="username" />
        </p>
        <p>
            <label for="password">Password</label>
            <input id="password" type="password" name="password" required autocomplete="current-password" />
        </p>
        <div class="text-center">
            <button type="submit">Login</button>
        </div>
    </form>
{% endblock %}